menu "Hardware Drivers Config"

config SOC_SERIES_GD32F4xx
    bool
    default y

config SOC_GD32470Z
    bool
    select SOC_SERIES_GD32F4xx
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "Onboard Peripheral Drivers"

    menuconfig BSP_USING_SPI_FLASH
        bool "Enable SPI FLASH"
        select BSP_USING_SPI
        select RT_USING_FAL
        select RT_USING_SFUD
        default n

        if BSP_USING_SPI_FLASH

            config SPI_FLASH_BLK_DEVICE_NAME
                string "Set name for flash block devices"
                default "norflash0"

            config SPI_FLASH_BUS_NAME
                string "Set name for spi bus"
                default "spi1"

            config SPI_FLASH_CS_PIN_NAME
                string "Set the spi cs pin name"
                default "PA.0"

        endif

endmenu

menu "On-chip Peripheral Drivers"

    source "libraries/drivers/Kconfig"

endmenu

menu "Board extended module Drivers"
    config RW007_USING_POWER_MANAGE
        bool "Enable power manage for RW007 wifi modules"
        depends on PKG_USING_RW007
        default n
endmenu

endmenu
