menu "Hardware Drivers Config"

config SOC_SERIES_GD32F4xx
    bool
    default y

config SOC_GD32470Z
    bool
    select SOC_SERIES_GD32F4xx
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "Onboard Peripheral Drivers"

endmenu

menu "On-chip Peripheral Drivers"

    source "libraries/drivers/Kconfig"

endmenu

menu "Board extended module Drivers"
    config RW007_USING_POWER_MANAGE
        bool "Enable power manage for RW007 wifi modules"
        depends on PKG_USING_RW007
        default n
endmenu

endmenu
