menu "System Extension Configuration"

    menuconfig RT_USING_INDEPENDENT_INTERRUPT_MANAGEMENT
        bool "Enable independent interrupt management"
        default n

        if RT_USING_INDEPENDENT_INTERRUPT_MANAGEMENT
            config RT_MAX_SYSCALL_INTERRUPT_PRIORITY
                int "Set max syscall interrupt priority"
                range 0 7
                default 2
        endif

endmenu

menu "Hardware Drivers Config"

config SOC_SERIES_GD32F4xx
    bool
    default y

config SOC_GD32470Z
    bool
    select SOC_SERIES_GD32F4xx
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "Onboard Peripheral Drivers"

    menuconfig BSP_USING_SDCARD_FS
        bool "Enable SDCARD filesystem"
        select BSP_USING_SDIO
        select RT_USING_DFS_ELMFAT
        default n

        if BSP_USING_SDCARD_FS
            config SDCARD_FS_BLK_DEV_NAME
                string "Set name for block device"
                default "sd0"
        endif

    menuconfig BSP_USING_SPI_FLASH_FS
        bool "Enable SPI FLASH filesystem"
        select BSP_USING_SPI_FLASH
        select RT_USING_MTD_NOR
        default n

        if BSP_USING_SPI_FLASH_FS
            config SPI_FLASH_FS_PART_NAME
                string "Set name for fal partition"
                default "filesystem"
        endif

    menuconfig BSP_USING_SPI_FLASH
        bool "Enable SPI FLASH"
        select BSP_USING_SPI
        select RT_USING_FAL
        select RT_USING_SFUD
        default n

        if BSP_USING_SPI_FLASH

            config SPI_FLASH_BLK_DEVICE_NAME
                string "Set name for flash block devices"
                default "norflash0"

            config SPI_FLASH_BUS_NAME
                string "Set name for spi bus"
                default "spi1"

            config SPI_FLASH_CS_PIN_NAME
                string "Set the spi cs pin name"
                default "PA.0"

        endif

endmenu

menu "On-chip Peripheral Drivers"

    source "libraries/drivers/Kconfig"

endmenu

menu "Board extended module Drivers"
    config RW007_USING_POWER_MANAGE
        bool "Enable power manage for RW007 wifi modules"
        depends on PKG_USING_RW007
        default n
endmenu

endmenu
